html {
	position: relative;
	min-height: 100%;
  min-width: 450px;
}

.page-header {
  margin-top: 0 !important;
  font-family: 'VT323';
}

.page-header h1 {
  font-size: 5em;
}

.game-box {
  position: absolute !important;
  height: 75%;
}