<div class="shadow jumbotron col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" id="authorization">
  <input type="text" id="player-name" placeholder="Name: ">

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="newbie" value="option1" checked> newbie 9*9 <i class="fa fa-bomb" aria-hidden="true"></i>*10
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="expierienced" value="option2"> Expierienced 16*16 <i class="fa fa-bomb" aria-hidden="true"></i>*40
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="master" value="option3"> master 16*32 <i class="fa fa-bomb" aria-hidden="true"></i>*99
    </label>
  </div>

  <button class=" btn-block graphite-flat-button" id="btn-read">start</button>
</div>