<table id="battlefield">
          <tr id="row0">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row1">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row2">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row3">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row4">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row5">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row6">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row7">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row8">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row9">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row10">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row11">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row12">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row13">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row14">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row15">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row16">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row17">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row18">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row19">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row20">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row21">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row22">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row23">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row24">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row25">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row26">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row27">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row28">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row29">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row30">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
          <tr id="row31">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
            <td id="column9"></td>
            <td id="column10"></td>
            <td id="column11"></td>
            <td id="column12"></td>
            <td id="column13"></td>
            <td id="column14"></td>
            <td id="column15"></td>
          </tr>
        </table>