<div class="jumbotron shadow col-md-10 col-md-push-1 col-xs-10 col-xs-push-1" id="rules">
  <h1 class="text-center">Rules</h1>
  <ul class="list-of-rules">
    <li>Open a cell.</li>
    <li>The number in a cell show you how much bombs around this cell.</li>
    <li>There are a emty cells near chosen cell open automatically.</li>
    <li>If there are around cell exist empty cells then they'll opened automatically.</li>
    <li>For marking a cell with bomb. Push right mouse button.</li>
    <li>If You open a cell with bomb then Your life will decrease for one.</li>
    <li>If You have one life and you open a cell with bomb then Game Over!</li>
    <li>If time is over then Game Over!</li>
    <li>If you open all not mined cells then You Win!</li>
  </ul>
  <form action="#/play-game">
    <button class=" btn-block graphite-flat-button" id="btn-read">play game!</button>
  </form>
</div>