<div class="shadow jumbotron col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" id="score">
    <h1 class="text-center">Score</h1>
    <ul id='result'>
        <li>name: </li>
        <li><i class="fa fa-copyright" id="score-info"></i> = </li>
        <li>+ <i class="fa fa-heart" id="live-info"></i></li>
        <li>+ <i class="fa fa-clock-o" id="time-info"></i></li>
    </ul>
    <button class=" btn-block graphite-flat-button" id="play-again">Play again!</button>
    <button class=" btn-block graphite-flat-button" id="change-level">change level</button>
</div>