<nav class="navbar navbar-default panel">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Alexey</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                <li><a href=""><i class="fa fa-clock-o" id="time-info"></i> : 4:99</a></li>
                <li><a href=""><i class="fa fa-bomb" id="bomb-info"></i> : 99</a></li>
                <li><a href=""><i class="fa fa-heart" id="live-info"></i> * 3</a></li>
                <li><a href=""><i class="fa fa-copyright" id="score-info"></i> : 315</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" id='end-game'>End game</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron shadow">
    <table id="battlefield">
        <tr id="row0">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row1">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row2">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row3">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row4">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row5">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row6">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row7">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
        <tr id="row8">
            <td id="column0"></td>
            <td id="column1"></td>
            <td id="column2"></td>
            <td id="column3"></td>
            <td id="column4"></td>
            <td id="column5"></td>
            <td id="column6"></td>
            <td id="column7"></td>
            <td id="column8"></td>
        </tr>
    </table>
</div>